.link{
    vertical-align: inherit;
    padding: 10px;
    color: white;
    font-size: large;
    font-family: math;
    margin: 1vw;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.link:hover{
    background-color: rgb(45, 9, 80);
    font-size: larger;
    font-weight: bold;
    border: 2px solid white;
}