.naglowek{
    color: blueviolet;
    text-align: center;
    font-weight: bold;
}
.pogrubienie{
    font-weight: bold;
}
.zielony{
    color: darkgreen;
}
.niebieski{
    color: blue;
}
.przekresl{
    text-decoration: line-through;
}